<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.master.UserDao">
	<resultMap id="BaseResultMap" type="org.spring.springboot.domain.User">
		 <result column="uid"  property="id"  javaType="LONG"/>
		<result column="user_name"  property="userName" javaType="STRING" jdbcType="VARCHAR"/>
		<result column="description" property="description" javaType="STRING" jdbcType="VARCHAR" />
		<association property="city" javaType="org.spring.springboot.domain.City"> 
			<id column="id" property="id" />
			<result column="city_name" property="cityName" javaType="STRING"/>
			<result column="province_id" property="provinceId" javaType="LONG"/>
			<result column="city_desc" property="description" javaType="STRING"/>
			</association>
	</resultMap>	

	<!-- <parameterMap id="User" type="org.spring.springboot.domain.User"/> -->

	<!-- <sql id="Base_Column_List">
		id, user_name, description,city_name
	</sql> -->

	<select id="findUserByName" resultMap="BaseResultMap" parameterType="java.lang.String">
		<!-- select
		<include refid="Base_Column_List" />
		from user,city
		where user.city_id = city.id and user_name=#{userName} -->
		select 
		user.uid,user.user_name,user.description,city.city_name,city.id,city.city_desc,city.province_id 
		from user,city 
		where user.city_id=city.id and user.user_name=#{userName}
	</select>

</mapper>
